[user]
	name = 
	email = 

[github]
	user = 
	token = 

[alias]
	browse       = !hub browse
	w            = !hub browse
	compare      = !hub compare
	cb           = !git-cut-branch
	sh           = !git-sh
	grab         = !git-grab
	thanks       = !git-thanks
	track        = !git-track
	ll           = log --pretty=oneline --abbrev-commit --max-count=15
	llog         = log --date=local
	wip          = !git add -u && git commit -m ...
	wipc         = !date >> WIP && git add WIP && git commit -m ...
	fp           = format-patch --stdout
	ci           = commit
	x            = checkout HEAD
	bv           = !git branch --color -v | cut -c1-100
	incoming     = !git-incoming
	in           = !git-incoming
	outgoing     = !git-outgoing
	out          = !git-outgoing
	s            = status -sb -uno --ignore-submodules=untracked
	st           = status
	sa           = status -sb --ignore-submodules=untracked
	whois        = !git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\" -
	whatis       = show -s --pretty='tformat:%h (%s, %ad)' --date=short

[core]
	filemode = true
	logallrefupdates = true
	whitespace = space-before-tab, trailing-space
	excludesfile = ~/.global_ignore

[apply]
	whitespace = nowarn

[help]
	browser = open

[branch]
	autosetupmerge = true

[diff]
	renames = copies
	mnemonicprefix = true

[push]
	default = current

[color]
	ui = auto

[color "diff"]
	meta = blue bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "branch"]
	current = yellow reverse
	local = yellow bold
	remote = green bold
	plain = red bold

[color "status"]
	added = yellow
	changed = green bold
	untracked = blue bold

[hub]
	http-clone = true

# vim: noexpandtab
